@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "reset";
@import "variables";

body {
  overflow: hidden;
}

.app {
  font: var(--font-m);
  color: var(--gray-02-color);
  min-height: 100vh;
  max-height: 100vh;
  display: flex;

}

.page-wrapper {
  width: calc(100% - var(--sidebar-width));
}
