.Header {
  padding-bottom: 12px;
}

.RightElement {
  margin-left: auto;

  padding: 4px 8px;
  color: var(--color-02-gray);
  font: var(--font-xs);
  font-size: 12px;
  background: #f4f5f7;
}

.Diagram {
  width: 146px;
  height: 146px;
  margin: auto auto;
}
.Arrow {
  margin-left: 4px;
}

.Up {
  color: var(--green-color);
}

.Down {
  color: var(--secondary-color);
}

.Items {
  margin-top: 16px;
}

.Item {
  display: flex;
  align-items: center;
  color: var(--black-color);
  margin-bottom: 8px;

  &-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 12px;
  }

  &-change {
    margin-left: auto;
  }
}
