.Table {
  border-collapse: collapse;
  & td {
     &.No {
        width: 60px;
     }
     &.CarNo {
      width: 98px;
     }
     &.Driver {
      width: 200px;
     }
     &.Type {
      width: 172px;
     }
     &.Status {
      width: 120px;
     }
  }

  &-head {
    font: var(--font-s);
    color: var(--gray-02-color);
    & td {
      padding: 12px 0px;
    }
  }

  &-body {
    font: var(--font-xs);
    color: var(--black-color);
    & tr {
    }
    & tr td{
      border-top: 1px solid rgba(163, 163, 163, 0.25);
      padding: 16px 0px;
    }

    & .CarNo span{
      padding: 4px 8px;
      border-radius: 4px;
      background: rgba(153, 153, 153, 0.10);
    }
    & .Driver span {
      display: flex;
      align-items: center;
      & img {
        width: 24px;
        height: 24px;
        margin-right: 12px;
        object-fit: cover;
        border-radius: 50%;
      }
      & div {
        font: var(--font-m);
      }
    }
    & .Status {
      & span {
        display: flex;
        align-items: center;
      }
      &-circle {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        margin-right: 16px;
        background: var(--gray-02-color);
        position: relative;
        &::after {
          content: '';
          position: absolute;
          width: calc(100% + 2px);
          height: calc(100% + 2px);
          left: -2px;
          top: -2px;
          border-radius: 50%;
          border: 1px solid var(--gray-02-color);
        }

        &--completed {
          background-color: var(--green-color);
          &::after {
            border-color: var(--green-color);
          }
        }
        &--pending {
          background-color: var(--primary-color);
          &::after {
            border-color: var(--primary-color);
          }
        }
        &--inRoute {
          background-color: var(--secondary-color);
          &::after {
            border-color: var(--secondary-color);
          }
        }
      }

      &-text {
        font: var(--font-m);
        font-weight: 300;
        color: var(--gray-02-color);
      }
    }
    & .Earning {
      & span {
        font: var(--font-m);
        font-weight: 300;
        color: var(--gray-02-color);
      }
    }
    & .Details button{
      font: var(--font-m);
    }
  }
}