.Layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 28px 28px 32px 28px;
}

.Availability {
  margin-top: 20px;
}

.Status {
  margin-top: 20px;
}

.Summary {
  margin-top: 20px;
}
